.main{
    
    background-color: black;
    height: 800px;
    

}

#bulb{
    height: 400px;
    width: 270px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

button{
    margin-top: 20px;
    background-color: aqua;
    padding:20px;
}